<h1>New Review</h1>

<% if @completed_tours == nil || @completed_tours.empty? %>
  <p style="color: red">No completed tours available.</p>
  <p><%= link_to "Check tour status", tours_path %></p>
<% else %>
  <%= render 'form', review: @review %>
<% end %>
<%= link_to 'Back', reviews_path %>
